body {
  font-family: "Outfit", sans-serif;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  width: 370px;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img img {
  display: block;
  border-radius: 3%;
  margin: 15px;
}

.text {
  padding: 0 45px 40px;
}

.card h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.card p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}

@media body {
  max-width: 1440px;
  min-width: 375px;
}
